---
layout: page
title: "About"
description: "Hey, this is Maxul Lee."
header-img: "img/post-bg-universe.jpg"
---

<!-- Chinese Version -->
<div class="zh post-container">

    <p>Mingyu Li</p>

    <h4>RESEARCH INTERESTS</h4>
    <p>Simple System, Smart Security, Practical Privacy</p>
    
    <h4>EDUCATION</h4>
    <ul>
        <li>2019 - 2024, Ph.D. Electronics and Information, Shanghai Jiao Tong University</li>
        <li>2015 – 2019, M.S. Computer Science and Technology, Beijing University of Posts and Telecommunications</li>
        <li>2011 – 2015, B.S. Applied Physics, Beijing University of Posts and Telecommunications</li>
    </ul>

    <h4>PUBLICATIONS</h4>

    <ul>
        <li><strong>Mingyu Li</strong>, Xuyang Zhao, Le Chen, Cheng Tan, Huorong Li, Sheng Wang, Zeyu Mi, Yubin Xia, Feifei Li, Haibo Chen. Encrypted Databases Made Secure Yet Maintainable, USENIX OSDI 2023.</li>
        <li>Jinyu Gu, Bojun Zhu, <strong>Mingyu Li</strong>, Wentai Li, Yubin Xia, and Haibo Chen. A Hardware-Software Co-design for Efficient Intra-Enclave Isolation, USENIX Security 2022</li>
        <li><strong>Mingyu Li</strong>, Tianxu Zhang, Jinhao Zhu, Cheng Tan, Yubin Xia, Sebastian Angel, Haibo Chen. Bringing Decentralized Search to Decentralized Services, USENIX OSDI 2021.</li>
        <li><strong>Mingyu Li</strong>, Yubin Xia, Haibo Chen. Confidential Serverless Made Efficient with Plug-In Enclaves, IEEE/ACM ISCA 2021.</li>
        <li>Hongliang Liang, <strong>Mingyu Li</strong>. Bring the Missing Jigsaw Back: TrustedClock for SGX Enclaves, EuroSec@EuroSys 2018.</li>
        <li>Hongliang Liang, <strong>Mingyu Li</strong>, Jian Xu, Wenying Hu, Xiaoxiao Pei, Xiaodong Jia, Yan Song. vmOS: A virtualization-based, secure desktop system, Computers & Security 2017.</li>
    </ul>

    <h4>SERVICES</h4>
    <ul>
        <li>ChinaSys <a href="https://chinasys.org/opensource/p-index.html">Open-Source Index</a>Volunteer: 2022 - Now</li>
        <li>AEC: OSDI/ATC 2024, SOSP/OSDI/ATC 2023, OSDI/ATC 2022, SOSP 2021</li>
    </ul>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

